@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Yanone+Kaffeesatz&display=swap');

.javaphile{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-color: var(--coffee-light);
    overflow: hidden;
}
.javaphile h1{
    font-size: 20rem;
    margin: 0 0 3vh 0;
    color: var(--coffee-dark);
    letter-spacing: 0.5rem;
}
.j-iflex.def{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    display: flex;
    height: 100vh;
    padding-left: 15vw;
    flex-direction:column;
    gap: 0.3rem;
    justify-content: center;
}
.javaphile .phonetics{
    font-size: 2.5rem;
}
.blanket{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    bottom: 0;
    left: 0;
    background-color: var(--coffee-light);
    border-top: 3.5rem solid var(--coffee-dark);
}
.animated{
    animation: wipe 2s ease-in-out;
    height: 0vh;
    border-top: 0rem solid var(--coffee-dark);
}
@keyframes wipe{
    0%{
        height: 100vh;
        border-top: 3.5rem solid var(--coffee-dark);
    }
    100%{
        height: 0vh;
        border-top: 0.5rem solid var(--coffee-dark);
    }
}
.j-flex{
    display: flex;
}
.j-iflex.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    justify-self: end;
    flex-grow: 1;
    padding-right: 5vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 7rem;
    color: var(--eggplant);
}

.me h3{
    display: none;
}

h3.anted{
    animation: slide 1000ms ease-in-out;
    display: block;
    transform: translateX(100vh);
}

@keyframes slide{
    0%{
        transform: translateX(100%);
    }100%{
        transform: translateX(0%);
    }
}