.javaphile{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-color: var(--coffee-mild);
}
.javaphile h1{
    font-size: 8rem;
    margin: 20vh 20vw 0 0;
}