@media (max-width:1100px) {
    .yinyang{
        margin-top: 30vh;
    }
}
@media (max-width:900px){
    .yinyang{
        width: 18vw;
        height: 18vw;
        margin-top: 25vh;
        margin-left: 10%;
    }
}
@media (max-width:800px){
    #left-side .yinyang{
        margin-top: calc(25vh - 5px);
    }
    .tile:before {
        background-color: rgb(15, 15, 15);
        content: "";
        inset: 0.625px;
        position: absolute;
      }
      .cgp .logo{
        height: 300px;
      }
      .age .text{
        font-size: 6rem;
      }
}
@media (max-width:700px){
    .slider h1{
        font-size: 10rem;
        margin: 0 15vw 30vh 15vw;
    } .fancy {
        font-size: 15rem;
    }
    .yinyang{
        border: 3px solid white;
        width: 24vw;
        height: 24vw;
        margin: 25vh 0 0 10%;
    }
    #left-side .yinyang{
        border: 3px solid black;
    }
    .cgp .text{
        top: 45vh;
    }
    .cgp .text .f{
        flex-direction: column;
        gap: 0;
        font-size: 10rem;
    }
    .gamer{
        font-size: 8rem;
        margin-bottom: -2rem;
    }
    .and{
        margin-bottom: -4rem;
        font-size: 8rem;
    }
    .n{
        font-size: 10rem;
    }
    .javaphile .back,.slider .next{
        bottom: 45vh;
    }
}
@media (max-width:644px){
    .j-flex{
        flex-direction: column;
        gap: 10vh;
    }.j-iflex.def{
        height: auto;
        padding-top: 15vh;
    }.j-iflex.me{
        font-size: 10rem;
    }
    .j-iflex.def{
        font-size: 6rem;
    }
    .javaphile .phonetics{
        font-size: 5rem;
    }
    .javaphile h1{
        margin-bottom: 1.5vh;
    }
    #left-side{
        width: 67.7%;
        height: 100vh;
    }
    .slider h1{
        width: 100vw;
        height: 50vh;
        margin: 0 23vw 10vh 15vw;
        padding-top: 5vh;
    }
    .yinyang, #left-side .yinyang{
        margin-top: 18vh;
    }#left-side h1{
        margin-top: 15px;
    }
    .age .text{
        font-size: 4.5rem;
    }
    @media (min-height:888px) and (max-width:644px) and (min-width:501px){#left-side .yinyang{margin-top: 18.3vh;}}
    @media (min-height:1000px) and (max-width:644px) and (min-width:501px){#left-side h1{margin-top: 25px;}}
    @media (min-height:1100px) and (max-width:644px) and (min-width:501px){#left-side .yinyang{margin-top: 18.8vh;}#left-side h1{margin-top: 35px;}}
    @media (min-height:1200px) and (max-width:644px) and (min-width:501px){#left-side h1{margin-top: 45px;}}
    @media (min-height:1300px) and (max-width:644px) and (min-width:501px){#left-side .yinyang{margin-top: 19.2vh;}#left-side h1{margin-top: 55px;}}
    @media (min-height:1400px) and (max-width:644px) and (min-width:501px){#left-side h1{margin-top: 65px;}}
    @media (min-height:1500px) and (max-width:644px) and (min-width:501px){#left-side .yinyang{margin-top: 19.7vh;}}
}
@media (max-width:500px){
    .j-iflex.def{
        padding-top: 17vh;
    }
    .j-flex{
        gap: 15vh;
    }
    .slider .next, .javaphile .back{
        bottom: 50vh;
    }.javaphile .back{
        transform: translate(-50%, 50%);
    }
    .age .back,.cgp .back{
        top: 5vh;
    }
    .javaphile .next, .cgp .next{
        bottom: 12vh;
    }
    .age .text{
        flex-direction: column;
        align-items: baseline;
        margin-left: 20vw;
        gap: 0;
        font-size: 7rem;
    }
    .age-container{
        font-size: 9rem;
    }
    @media (min-height:700px) and (max-width:500px) and (min-width:411px){#left-side h1{margin-top: 20px;}}
    @media (min-height:800px) and (max-width:500px) and (min-width:411px){#left-side h1{margin-top: 30px;}}
    @media (min-height:888px) and (max-width:500px) and (min-width:411px){#left-side .yinyang{margin-top: 18.5vh;}#left-side h1{margin-top: 35px;}}
    @media (min-height:1000px) and (max-width:500px) and (min-width:411px){#left-side .yinyang{margin-top: 19vh;}#left-side h1{margin-top: 45px;}}
    @media (min-height:1100px) and (max-width:500px) and (min-width:411px){#left-side .yinyang{margin-top: 19.5vh;}#left-side h1{margin-top: 50px;}}
    @media (min-height:1200px) and (max-width:500px) and (min-width:411px){#left-side h1{margin-top: 60px;}}
    @media (min-height:1300px) and (max-width:500px) and (min-width:411px){#left-side .yinyang{margin-top: 20vh;}#left-side h1{margin-top: 65px;}}
    @media (min-height:1400px) and (max-width:500px) and (min-width:411px){#left-side h1{margin-top: 75px;}}
    @media (min-height:1500px) and (max-width:500px) and (min-width:411px){#left-side h1{margin-top: 85px;}}
}
@media (max-width:413px){
    .j-iflex.def{
        padding-top: 22vh;
    }
    .j-flex{
        gap: 15vh;
    }
    .yinyang, #left-side .yinyang{
        width: 30vw;
        height: 30vw;
        margin: 25vh 0 0 -5%;
    }.slider .next{
        right: 10vw;
        padding: 5rem;
    }#left-side h1{
        margin-top: 0;
    }.javaphile .back{
        left: 10vw;
        padding: 5rem;
        font-size: 6rem;
    }
    .j-iflex.def{
        padding-left: 25vw;
    }
    @media (min-height:1275px) and (max-width:410px) and (min-width:281px){#left-side h1{margin-top: 5px;}}
    @media (min-height:1350px) and (max-width:410px) and (min-width:281px){#left-side h1{margin-top: 10px;}}
    @keyframes bloom{
        0%{
            background: radial-gradient(circle, var(--purple) 0%, rgba(0,0,0,0) 65%);
            padding: 5rem;
        }
        10%{
            padding: 4rem;
        }
        20%{
            padding: 3rem;
        }
        30%{
            padding: 2rem;
        }
        40%{
            padding: 1rem;
        }
        50%{
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 65%);
            padding: 0rem;
        }
        60%{
            padding: 1rem;
        }
        70%{
            padding: 2rem;
        }
        80%{
            padding: 3rem;
        }
        90%{
            padding: 4rem;
        }
        100%{
            padding: 5rem;
        }
    }
    @keyframes flash{
        0%,100%{
            color: var(--purple);
            background: radial-gradient(circle, var(--purple) 0%, rgba(0,0,0,0) 65%);
            padding: 6rem;
        }
        50%{
            color: var(--cyan);
            background: radial-gradient(circle, var(--cyan) 0%, rgba(0,0,0,0) 65%);
            padding: 4rem;
        }
    }@keyframes grow{
        0%,100%{
            font-size: 6rem;
            padding: 5rem;
        }
        50%{
            font-size: 7.2rem;
            padding: 6rem;
        }
    }
}
@media (max-width:350px){
    .age .text{
        font-size: 7rem;
        margin-left: 20vw;
    }
    .age-container{
        font-size: 10rem;
    }
}
@media (max-width:280px){
    .yinyang, #left-side .yinyang{
        margin-top: 25vh;
    }
    @media (min-height:1000px) and (max-width:280px){#left-side h1{margin-top: 10px;}}
    @media (min-height:1140px) and (max-width:280px){#left-side h1{margin-top: 20px;}}
    @media (min-height:1250px) and (max-width:280px){#left-side h1{margin-top: 30px;}}
}