@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Source+Code+Pro&family=VT323&display=swap');

.side{
    height: 100vh;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    overflow: hidden;
}
#left-side{
    z-index: 2;
    background-color: var(--black);
    width: 50%;
    color: var(--white);
    max-width: 100%;
}

.right-side{
    background-color: var(--white);
    color: var(--black);
}

.slider h1{
    font-family: 'Source Code Pro', monospace;
    width: 80vw;
    margin: 0 23vw 30vh 23vw;
    font-size: 8rem;
}

#left-side h1{
    margin-bottom: calc(30vh - 10px);
}

#left-side .fancy{
    font-family: 'Dancing Script', cursive;
    color: var(--cyan);
}
.right-side .fancy{
    font-family: 'VT323', monospace;
    color: var(--purple);
}
.fancy{
    font-size: 12rem;
}