*{
    margin:0;
}

html{
    font-size: 10px;
}

html::-webkit-scrollbar{
    display: none;
}

:root{
    --black: #000;
    --white: #fff;
    --cyan: #67e7d7;
    --coffee-light: #EDDFB3;
    --coffee-mild: #603601;
    --coffee-dark: #432601;
    --eggplant: #3a2d36;
    --purple: #5e0a8f;
    --purple-dark: #4b0872;
    --purple-light: #7e3ba5;
    --transparent: rgba(0,0,0,0)
}

body{
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

section:not(.active),.hide{
    display: none;
}
