body section.load{
    height: 100vh;
    width: 100vw;
    background-color: #111;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.load svg{
    animation: rotation 2s infinite linear;
}